<mat-toolbar color="primary" style="margin-bottom: 20px">
  <mat-toolbar-row>
    <span>Nueva tarea</span>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="localJobFormGroup" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Tarea</mat-label>
      <textarea class="text-area-job" matInput placeholder="Describa su tarea" formControlName="description">
      </textarea>
  </mat-form-field>
  <div class="file-upload">
    <label>Seleccione una imagen</label>
    <br/>
   <input type="file" accept="image/x-png,image/gif,image/jpeg" class="file-upload" (change)="onPhotoSelected($event)" #photoInput>
  </div>
  <button class="button-add-job" color="primary" mat-raised-button (click)="evUploadPhoto()" [disabled]="localLoading">
    {{localButtonLabel}}
  </button>
</form>



