<mat-toolbar color="primary">
  <mat-toolbar-row>
<div style="text-align: center">
      <span>Lista de tareas</span>
</div>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>Acciones</mat-icon>
      </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog()">Agregar tarea</button>
          <button mat-menu-item [matMenuTriggerFor]="order">Ordernar por</button>
        </mat-menu>

        <mat-menu #order="matMenu">
            <button mat-menu-item (click)="orderBy(0)">ID</button>
            <button mat-menu-item (click)="orderBy(1)">Estado</button>
            <button mat-menu-item (click)="orderBy(2)">Descripcion</button>
        </mat-menu>
  </mat-toolbar-row>



</mat-toolbar>

<div>
</div>
<div class="grid-container">
  <div *ngFor="let job of jobs">
    <app-job [job]=job [states]="states"></app-job>
    <br/>
  </div>
</div>
