<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div style="text-align: center">
      <span>Lista de tareas</span>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
      <mat-icon>Acciones</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="pbOpenDialog()" mat-menu-item>Agregar tarea</button>
      <button [matMenuTriggerFor]="order" mat-menu-item>Ordernar por</button>
    </mat-menu>

    <mat-menu #order="matMenu">
      <button (click)="pbOrderBy(0)" mat-menu-item>ID</button>
      <button (click)="pbOrderBy(1)" mat-menu-item>Estado</button>
      <button (click)="pbOrderBy(2)" mat-menu-item>Descripcion</button>
    </mat-menu>
  </mat-toolbar-row>

</mat-toolbar>

<div>
</div>
<div class="grid-container">
  <div *ngFor="let job of localJobs">
    <app-card-job [job]=job [states]="localStates" (emiterJobDelete)="pbDeleteCard($event)"></app-card-job>
    <br/>
  </div>
</div>
