<mat-card class="example-card"
          [ngStyle]="{'background-color': color}">
  <div class="center-card">
    <div class="card-job-header">
<!--      <mat-card-title class="maxWidth">Id</mat-card-title>-->
      <mat-card-subtitle class="maxWidth">{{job._id}}</mat-card-subtitle>
    </div>
    <img class="mat-card-image" src="{{localRootPath}}{{job.imagePath}}" alt="Photo">
    <mat-card-content class="card-content">
      <p class="job-description">
        {{job.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field>
        <mat-select [(value)]="currentState" (selectionChange)="pbSetStatus($event)">
          <mat-option *ngFor="let state of states;" [value]="state.state" >
            {{state.state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-actions>
  </div>
</mat-card>
