.example-card {
  max-width: 250px;
  text-align: center;
}

.mat-card-image{
  width: 200px;
  height: 200px;
}
.example-header-image {
  background-size: cover;
}

.center-card{
  width: 250px;
  height: 250px;
  display: inline-block;
}

.card-content{
  font-family: Roboto;
  margin-top: 10px;
  font-size: 20px;
}
