<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">
      Agregar tarea
    </div>
    <div class="card-body">

        <mat-form-field class="example-full-width">
          <mat-label>Describa su tarea</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>


<!--        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>-->
<!--        <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image"-->
<!--             (click)="photoInput.click()">-->
<!--        <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image"-->
<!--             (click)="photoInput.click()">-->
        <button mat-raised-button color="primary" class="button-add-job" >
          Agregar tarea
        </button>

    </div>
  </div>
</div>
