.example-form {
  min-width: 350px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  height: 150px;
  resize: none;
}

.button-add-job {
  margin: 10px;
  float: right;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 38px;
  font-family: 'Times New Roman', sans-serif;
}

.content {
  margin: 100px;
}

.margin25 {
  margin: 25px;
}

.upload {
  cursor: pointer;
}



.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.file-upload {
  padding-top: 25px;
  margin: 20px 0 15px 0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 10px;
}

.file-upload-button {
  font-family: Roboto, sans-serif;
  padding-top: 10px;
  font-size: 14px;
}

.global-error {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

